{{ define "main" }}
  <div class="container">
    <div class="content">
      <article class="post">
        <h1>{{ .Title }}</h1>
        <div class="post-dates">
          <span class="post-date">Published: {{ .Date.Format "January 2, 2006" }}</span>
          {{ if gt .Lastmod .Date }}
            <span class="post-lastmod">Updated: {{ .Lastmod.Format "January 2, 2006" }}</span>
          {{ end }}
        </div>
        <div class="post-content">
          {{ .Content }}
        </div>
      </article>
    </div>
  </div>
{{ end }}
